* {
  font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
}

video::cue {
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
}
body {
  background-color: #08080f;
}

.bold {
  font-family: 'Helvetica Neue Bold', Helvetica, sans-serif !important;
}